<form action="">
    <div>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="formaDePago">Forma de pago</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="fromaDePago" id="formaDePago"
                            placeholder="Forma de pago">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="saldoPendiente">Saldo pendiente</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="saldoPendiente" id="saldoPendiente"
                            placeholder="Saldo pendiente">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>