<form  action="">
    <div>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="nombreProveedor">Nombre Proveedor</label>
                    </div>
                    <div>
                        <input [(ngModel)]="nombreProveedor" class="form-control" type="text" name="nombreProveedor" id="nombreProveedor"
                            placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="descripProveedor">Descripción Proveedor</label>
                    </div>
                    <div>
                        <input [(ngModel)]="descripcionProveedor" class="form-control" type="text" name="descripProveedor" id="descripProveedor"
                            placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <label for="precioProvedor">Precio Proveedor</label>
                    </div>
                    <div>
                        <input [(ngModel)]="precioProveedor" class="form-control" type="text" name="precioProvedor" id="precioProvedor"
                            placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>