<form action="">
    <div>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="modelo">Modelo</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="modelo" id="modelo"
                            placeholder="Ingrese modelo">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="segundoNombreUsuario">Año</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="anio" id="anio"
                            placeholder="Ingrese el año">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>