<div class="d-flex justify-content-center mt-3">
    <form action="">
        <div class="display-6">
            Registro Usuario
        </div>
        <br>
        <div>
            <div>
                <div>
                    <label for="nombreUsuario">Nombre Usuario</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="nombreUsuario" id="nombreUsuarioID" placeholder="Ingrese su primer nombre">
                </div>
                <div>
                    <label for="segundoNombreUsuario">Segundo Nombre Usuario</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="segundoNombreUsuario" id="segundoNombreUsuarioID" placeholder="Ingrese su segundo nombre">
                </div>
                <div>
                    <label for="apellidoUsuario">Apellido Usuario</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="apellidoUsuario" id="apellidoUsuarioID" placeholder="Ingrese su apellido">
                </div>
                <div>
                    <label for="SegundoApellidoUsuario">Segundo Apellido Usuario</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="SegundoApellidoUsuario" id="SegundoApellidoUsuarioID" placeholder="Ingrese su segundo apellido">
                </div>
                <div>
                    <label for="Celulular">Celular</label>
                </div>
                <div>
                    <input class="form-control" type="text" name="Celulular" id="CelulularID" placeholder="Ingrese su numero de celular">
                </div>
                <div>
                    <label for="Correo">Correo</label>
                </div>
                <div>
                    <input  class="form-control" type="email" name="Correo" id="CorreoID" placeholder="Ingrese su correo">
                </div>
                <div>
                    <label for="Password">Password</label>
                </div>
                <div>
                    <input class="form-control" type="password" name="Password" id="PasswordID" placeholder="Ingrese su password">
                </div>
                <div>
                    <label for="passwordConfirmation">Password</label>
                </div>
                <div>
                    <input class="form-control" type="password" name="passwordConfirmation" id="passwordConfirmationID" placeholder="Confirme password">
                </div>
            </div>
            <br>
            <div>
                <div>
                    <div>
                        <input class="btn btn-primary" type="button" value="Iniciar Sesi&oacute;n" (click)="eventoRandom()">
                    </div>
                    <br>
                    <a class="btn btn-primary" type="button" (click)="eventoRandom()">Volver a inicio de sesion</a>
                </div>
            </div>
        </div>
    </form>
</div>
