<form action="">
    <div>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="nombreProductoID">Nombre producto</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="nombreProducto" id="nombreProductoID"
                            placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="tipoProductos">Tipo de producto</label>
                    </div>
                    <div>
                        <select class="form-select" aria-label="Default select example" name="tipoProductos"
                            id="tipoProductos">
                            <option value="">Selecione una opción</option>
                            <option value="electrodoméstico">electrodoméstico</option>
                            <option value="tecnología">tecnología</option>
                            <option value="varios">varios</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="descripProductp">Descripcicón Producto</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="descripProductp" id="descripProductp"
                            placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="datosAdicionales">Datos Adicionales</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="SegundoApellidoUsuario"
                            id="SegundoApellidoUsuarioID" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>